body {
    margin: 0;
    padding: 0;
}

main{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #810ce897;

}

.conteudo {
    background-color: #060114;
    position: absolute;
    padding: 10px;
}

.conteudo h1 {
    color: #ffff;
    font-weight:normal;
    font-size: 12px;
}

#resultado {
    height: 20px;
    padding: 0 10px;
    color: #ffff;
    font-weight: bold;
    text-align: right;
}

.buttom {
    background-color: #060114;
    cursor: pointer;
    color: #ffff;
    border: none;
    height: 45px;
    width: 40px;
    font-size: 16px;
    font-weight: 700;
}

button:hover {
    background-color: #BF0AA1;
    color: #ffff;
}

.ponto {
    width: 80px;
}

.equal{
    height: 90px;
}

.operadores{
    color: #BF0AA1;
}
